body, input, button { font-size:12px; }
img { max-width: 100%; }
caption{position:absolute;visibility:hidden;font-size:0;}
div.tooltip-inner {
    max-width: 100%;
}

 #block_1{margin: 0 auto;}
/* Large desktop */
@media (min-width: 1200px) {
/*WKI3300.html*/
 .sub03_1{float:left;}
 
 .history ul li{float:left;position:relative;}


 
}

/* 기본 css 시작 */
/* custom widths .span !important? */
.auto { display:inline-block; width:auto; }
.span1 { display:inline-block; width:50px; }
.span2 { display:inline-block; width:100px; }
.span3 { display:inline-block; width:150px; }
.span4 { display:inline-block; width:200px !important; }
.span5 { display:inline-block; width:250px; }
.span6 { display:inline-block; width:300px; }
.span7 { display:inline-block; width:350px; }
.span8 { display:inline-block; width:400px; }
.span9 { display:inline-block; width:450px; }
.span10 { display:inline-block; width:500px; }

/* custom padding */
.pdt1 { padding-top   :5px; } .pdt2 { padding-top   :10px; } .pdt3 { padding-top   :15px; } .pdt4 { padding-top   :20px; }
.pdl1 { padding-left  :5px; } .pdl2 { padding-left  :10px; } .pdl3 { padding-left  :15px; } .pdl4 { padding-left  :20px; }
.pdr1 { padding-right :5px; } .pdr2 { padding-right :10px; } .pdr3 { padding-right :15px; } .pdr4 { padding-right :20px; }
.pdb1 { padding-bottom:5px; } .pdb2 { padding-bottom:10px; } .pdb3 { padding-bottom:15px; } .pdb4 { padding-bottom:20px; }

/* custom margin */
.mgt1 { margin-top   :5px; } .mgt2 { margin-top   :10px; } .mgt3 { margin-top   :15px; } .mgt4 { margin-top   :20px; }
.mgl1 { margin-left  :5px; } .mgl2 { margin-left  :10px; } .mgl3 { margin-left  :15px; } .mgl4 { margin-left  :20px; }
.mgr1 { margin-right :5px; } .mgr2 { margin-right :10px; } .mgr3 { margin-right :15px; } .mgr4 { margin-right :20px; }
.mgb1 { margin-bottom:5px; } .mgb2 { margin-bottom:10px; } .mgb3 { margin-bottom:15px; } .mgb4 { margin-bottom:20px; }

.tright{text-align:right !important;}
.lspace1{letter-spacing:-0.9px; line-height:20px; font-family:"Malgun Gothic","돋움", "굴림",Verdana,sans-serif;}
.lspace2{letter-spacing:-0.9px; line-height:19px; font-family:"Malgun Gothic","돋움", "굴림",Verdana,sans-serif;}
.mtop12 {margin-top:12px}

/* 기본 css 시작 */

.tright{text-align:right !important;}
.lspace1{letter-spacing:-0.9px; line-height:20px; font-family:"Malgun Gothic","돋움", "굴림",Verdana,sans-serif;}
.lspace2{letter-spacing:-0.9px; line-height:19px; font-family:"Malgun Gothic","돋움", "굴림",Verdana,sans-serif;}
.mtop12 {margin-top:12px}

.r2{height:150px;border:3px solid #c0cbce; background:url(../img/partner.gif) 0 0 no-repeat}

/*head.html*/
#top{position:relative;width:100%; background-color:#000000; height:20px;}
#top ul{margin:0 auto;overflow:hidden; }
#top li, #top a{display:inline-block; float:right; color:#fff;font-size:13px;padding-right:10px;font-weight:bold;}

#main_nav .topMenu ul > li{cursor:point; border-right:1px solid #eee;  font-weight:bold;display:block;}
#main_nav .navbar-brand { padding-top:15px ; margin:0;}
#main_nav{  
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  background: #fff;
  padding: 0;
  padding-bottom: 0;
}
#main_nav .navbar-nav{margin-top: 0;}
#main_nav .navbar-nav>li{
  padding: 10px;
  padding-top: 20px; /* 올리고 내리기*/  
  padding-bottom: 0;
}
#main_nav .navbar-nav>li>a:hover{background-color:#008299;}
#main_nav .navbar-toggle{
  background-color: black;
  margin-top: 20px;
}
/*end head.html */


/*AboutUs.html */
.mtop_left1 {margin:33px 0 5px 20px;}
.mleft20 {margin-left:20px}
.mtop20 {margin-top:20px}
.bot-1 {margin-bottom:25px;}


/*main.html*/
#left_menu{    
  padding:8px 20px 8px 8px;
  background-color:#424242; 
  font-family:Malgun Gothic;
  border:1px solid #424242;
  border-radius:8px;
}
#left_menu ul li {  
  margin-left: -30px;
  list-style-type:none;
  border-bottom:1px solid #888;
  background-color:#eee;
  padding:8px 0px 8px 8px;
  font-weight:bold;  
}
#left_menu ul li.title{
  font-size: 22px;
  list-style-type:none;
  height:40px; 
  margin-bottom:30px;
  padding:20px 0 9px 0;
  text-align:center; border-bottom:1px solid #424242;
  background-color:#424242;
  border-radius:8px;color:#fff;
}
#left_menu a{color:#5c5959; font-weight:bold;}
#main_content .frist_content{margin-left: 100px;}
#main_content .frist_content img{float:left;max-width:330px;}
#main_content .frist_content .palyer_1{width:320px;  float:left;}
#main_content .embed-container { position: relative; padding-bottom: 80.25%; height: 0; overflow: hidden; max-width: 100%; } 
.embed-container iframe,.embed-contain  .erembed-container object, .embed-container .embed-container embed { 
  position: absolute;
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}
#main_content .inspractic{ 
 max-width:650px; margin-left: 100px;
 }

.quick {
  position:absolute; 
  
  z-index:2;
  top:225px;  
  width:260px;
  
  font-weight:normal;
}

.quick2 {
  position:absolute; 
  
  z-index:2;
  
  width:260px;
  
  font-weight:normal;
}

.quick .item_content {
  padding:0;
  width:260px;
   
 }
.ob{margin:-506px 0 0 0;z-index: 3;}
/*end main.html*/


/*Company.html*/
.btn a{border:1px solid #333; text-decoration:none;background-color:#e13a42;
 color:#fff;padding:8px;display:inline;}
 .Intro_btn a{border:1px solid #333; text-decoration:none;background-color:gray;
 color:#fff;display:inline;}


#container{width:960px; margin:0 auto; position:relative;}



#slide { position:relative; overflow:hidden;  width:100%; height:300px; background-color:#373531; padding:0px; z-index:2;margin-bottom:20px;}
/*background:url(../images/main_bg.gif) repeat; */
.items { width:1050px; height:300px; margin:0 auto; position:relative; }
.items li{position:absolute;width:960px;height:300px;}



.border_md3{border:3px solid #c0cbce;}
.border_h4{color:#fff; background-color:#cb262f;height:25px;padding:0 0 3px 10px;}
.border_bg3{background-color:#c0cbce;}
.border_md4{border:3px solid #cb262f; }



/*AuthMark.html*/
 .sub01 p{padding:0px}
 .sub01 ul{ height:25px;border-bottom:1px solid #888; margin-top:25px;}
 .sub01 li.left{float:left;font-size:19px;font-weight:bold;color:#cb262f;}
 .sub01 li.right{float:right;font-size:12px;}

.highlight{color:#cb262f;font-size:13.5px;}
.highlight2{color:#ffffff;font-size:12px;}


 .sub02{position:relative;border:5px solid #888; padding:0 10px 15px 20px;}
/* .sub02 p{position:absolute;top:10px;left:630px;} /*마크*/
 .sub02 p{position:absolute;top:10px;left:630px;} /*인증마크*/
 
 .sub02_detail li{display:inline; }

/*end AuthMark.html*/

/*WKI3300.html*/
.bold{font-weight:bold !important}
.btm_line{border-bottom:1px solid #eee;}
.title1{background-color:#eee; color:black; padding:4px 0 0 5px;;}
/*end WKI3300.html*/

/*ConsumerRating.html*/
.tcenter{text-align:center !important;}
.bgcolor01{background-color:#dee7e7 !important;}
.bgcolor02{background-color:#fde79c !important;}
.bgcolor03{background-color:#eeeeee !important;}
.bgcolor04{background-color:#f20505 !important;}
.bgcolor05{background-color:#ffffff !important;}

.font-4 {font-size:20px; line-height:20px; color:#000000}
.mtopbtm25 {margin-top:25px  !important; margin-bottom:25px !important;}
.color_3 {color:#e2373f !important;}
.color_4{color:#419260  !important;}
/*end ConsumerRating.html*/

/*ForUse.html*/
.title_silver{ background-color:#888;color:#fff; text-align:center;}
.sub04{position:relative; border:5px solid #eee; margin:10px  0; padding:0 30px 15px 30px;}
.bgnone{background:none !important;}
/*end ForUse.html*/

/*ShopLists.html*/

.lspace{letter-spacing:-1px; font-family:"Malgun Gothic","돋움", "굴림",Verdana,sans-serif;}

.border_line2 {border:4px solid #dee7e7  !important;}
.underline{text-decoration:underline}

.title{font-size:16px;font-weight:bold;margin-top:20px;padding:10px;}
/*end ShopLists.html*/

/*History.html*/
.history h3{font-size:18px; line-height:20px;  font-weight:bold;background-color:#424242;color:#fff;}


.history ul.h560{overflow:hidden;}
.history ul.h660{overflow:hidden;}
.history ul.h800{overflow:hidden;}
.history ul.h400{overflow:hidden;}


.history ul li span.btm { position:absolute;bottom:0;background-color:#424242;padding:5px;color:#fff;font-size:11px;opacity:0.85;font-weight:bold;}
.history ul li span.right { position:absolute;bottom:5px;background-color:#424242;padding:5px;color:#fff;font-size:11px;opacity:0.85;font-weight:bold;}
.history video{width:580px; height:350px}
/*end History.html*/



.title2{font-size:15px;font-weight:bold;margin-top:10px;padding:10px;}

/*Envrionment.html*/



.sub08 .country {overflow:hidden; line-height:18px;margin-top:15px;}
.sub08 .country h2{height:15px;color:#ffffff; font-weight:bold; font-size:16px !important; line-height:20px;padding:5px;
}
.sub08 .country .usa{padding:10px;margin:10px;overflow:hidden; background-color:#ffffff; }

.sub08 .country dl dt{padding:5px 0 5px 10px; color:#888;font-size:13px;background-color:#fddad8; color:#000000;}
.sub08 .country dl dd{padding:5px 0 5px 10px; color:#888;font-size:13px;color:#000000; list-style-type:none !important;}


.bgpink{background-color:#f46966;padding-bottom:10px;}
.bgyellow{background-color:#fcfc08;}
.bgblue{background-color:#0600f8;}


.history video{width:580px; height:350px}


/*end Envrionment.html*/



/*tail.html */
#bottom {background:#424242;  padding:20px 0 50px 0px; margin-top:30px;}
#bottom .title {text-align:left; color:#dddddd; font-weight: bold; font-size: 15px;}
#bottom .memo {text-align:left; color:#dddddd;margin-bottom:30px; font-weight: bold; font-size: 15px;}
#bottom .memo2 {text-align:left; color:#888; }
#bottom .block_4>div {
  float:left;  border:3px solid #888; 
  margin-right:10px;
  padding:5px;
  border-radius:8px;
  background-color:#fff;
}
#bottom .block_4>div h3 {text-align:center; height:80px;vertical-align:middle; }
#bottom .block_4 .box-shadow {box-shadow:0 1px 10px #888}
#bottom .block_4 .box-shadow .last {margin-right:0 !important}

#footer {width:100%;  float:left;position:relative; padding:10px 0 10px 0;background-color:#000;clear:both;text}
#footer p, #footer a{color:#fff;text-align:left; font-size:12px; line-height:14px !important}
#footer a:hover {text-decoration:underline}
#footer .sub .tcenter{text-align:center !important;}
/*end tail.html */




/*제품주문페이지*/

.sub05 p{width:226px; padding:5px 0 0 5px; border:3px solid #ededed;margin:55px 0 0 0px;}



.sub05 dl{background-color:#fafafa;border:3px solid #ededed;}
.sub05 dl dt{padding:5px 0 0 10px; clear:both; display:inline-block;}
.sub05 dl dd{padding:5px 0 0 10px; background:none !important;display:inline-block; }
.sub05 h3{margin:25px 0 10px 19px;}



/*제품 목록 보기*/
.sub05 ul{width:100%;margin:0 auto;}
.sub05 ul li{float:left;position:relative;width:195px;overflow:hidden;border:3px solid silver;padding:5px;margin:10px 20px 10px 0;}
.sub05 ul li span{text-align:center;font-weight:bold;padding:5px;margin:5px}
.sub05 ul li img{margin:5px 0 5px 17px;}
.sub05 ul li span.hot{position:absolute; top:190px;left:120px;}

.sub05 dl .button_layout{position:relative; padding: 40px; }








/** 기본 css 끝 **/




/*md desktop ***********************************************************************/
@media (min-width: 992px) and (max-width: 1199px) {

 
/*WKI3300.html*/
 .sub03_1{float:left;}
 
  .history ul li{float:left;position:relative;}
 



  }/*end/-md desktop *****************************************************************/




  /*sm   Portrait tablet to landscape and desktop ***************************************/
  @media (min-width: 768px) and (max-width: 991px) {

    #main_content .inspractic{ margin-left: 50px;}
    .quick {display: none;}
    .quick2 {display: none;}
    /*AuthMark.html*/
    .sub02 p{position:absolute;top:10px;left:500px;} /*인증마크*/

 
/*WKI3300.html*/
 .sub03_1{float:left;}

 .history ul li{float:left;position:relative;}


    }/*  end /-sm   Portrait tablet to landscape and desktop ********************************/





    /* xs phone 767보다 작을경우 무조건 모바일임 ****************************************/
    @media (max-width: 767px) {

      table .img-responsive { width:100%; }

      #main_content .inspractic{ margin-left: 0px;}
      .container > .navbar-header, .container > .navbar-collapse{margin-left: 0;}
      .quick {display: none;}
      .quick2 {display: none;}

      /*AuthMark.html*/
      .sub01 li.left{float:left;font-size:13px;font-weight:bold;color:#cb262f;}
      .sub01 li.right{float:right;font-size:12px;}
      .sub02 p{display: none;} /*인증마크*/
      .sub01 li.right{display:none;} /*소개 작은글*/

      /*WKI3300.html*/
      .sub03_1{}

      /*History.html*/
      .history ul li{position:relative;}
      .history video{width:300px; height:175px}
      .sub08 video{width:240px; height:175px}

      .frist_content{display: none;}

      #logo{width: 210px;}
      }/* end mobile ********************************************************************/

      /* XS Portrait */
      @media (max-width: 480px) {

      }

